In [3]:
colours = ['biue','red','pink','black']
print(type(colours))


for i in colours:
    print(i)

<class 'list'>
biue
red
pink
black

In [5]:
number={1,2,3,4,5,6,8,7,9,2,5,8,6,3,4,5,8,1,2,6,4,7}
for i in number:
  print(i)

1
2
3
4
5
6
7
8
9

In [7]:
Name = "KLE BK BCA college in chikodi"
rev=""
for i in Name:
  rev=i+rev
print(rev)

idokihc ni egelloc ACB KB ELK

In [19]:
i =1
num = 10
while i<=num:
  print(i)
  i=i+1
for i in range(10):
  print(i)

1
2
3
4
5
6
7
8
9
10

TypeError: type 'range' is not subscriptable

In [22]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

1
2
3
4
5
6
7
8
9
10

In [32]:
sum = 0
for i in range(1,11):
  sum = sum + i
print("the sum of natural numbers : ",sum)

the sum of natural numbers :  55

In [37]:
i = 1
num = 4
for i in range(1,11):
  print("4*",i,"=",num * i)

4* 1 = 4
4* 2 = 8
4* 3 = 12
4* 4 = 16
4* 5 = 20
4* 6 = 24
4* 7 = 28
4* 8 = 32
4* 9 = 36
4* 10 = 40

In [40]:
i = 1
sum = 5
for i in range (1,11):
  print("5*",i,"=",sum*i)

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

In [43]:
for i in range(2,101,2):
  print(i ,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [50]:
for i in range(1,102,2):
  print(i ,end=" ")

The factorial of 5 is 120

In [58]:
# pactorial_number
fact = int(input("the factorial number is "))
for i in range(1,6):
  fact = fact * i
print(fact)

the factorial number is 1
120

In [63]:
fibonacci_series = int(input("the fibonacci series is "))
for i in range(0,fibonacci_series):
  print(i)

the fibonacci series is 5
0
1
2
3
4

In [67]:
a,b = 0,1
print(a,b,end=" ")
for i in range(1,11):
  a,b = b, a+b
  print(a)

0 1 1
1
2
3
5
8
13
21
34
55